<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ServletContext</display-name>
	<welcome-file-list>
		<welcome-file>ServletContextDemo</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ServletContextDemo</display-name>
		<servlet-name>ServletContextDemo</servlet-name>
		<servlet-class>ServletContextDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextDemo</servlet-name>
		<url-pattern>/ServletContextDemo</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>goldrate</param-name>
		<param-value>30000</param-value>
	</context-param>
	<context-param>
		<param-name>db_driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>connection_url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>ServletContextEx1</display-name>
		<servlet-name>ServletContextEx1</servlet-name>
		<servlet-class>ServletContextEx1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextEx1</servlet-name>
		<url-pattern>/ServletContextEx1</url-pattern>
	</servlet-mapping>
</web-app>